In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

C:\Users\1\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [31]:
df = pd.read_excel ('boston_housing.xlsx'
                   ,  header= None, 
                   names=['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 
                          'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat', 'medv']
                 )

In [33]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,0.03871,52.5,5.32,0,0.405,6.209,31.3,7.3172,6,293.0,16.6,396.90,7.14,23.2
288,0.04590,52.5,5.32,0,0.405,6.315,45.6,7.3172,6,293.0,16.6,396.90,7.60,22.3
289,0.04297,52.5,5.32,0,0.405,6.565,22.9,7.3172,6,293.0,16.6,371.72,9.51,24.8
290,0.03502,80.0,4.95,0,0.411,6.861,27.9,5.1167,4,245.0,19.2,396.90,3.33,28.5
291,0.07886,80.0,4.95,0,0.411,7.148,27.7,5.1167,4,245.0,19.2,396.90,3.56,37.3

In [34]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=777)

In [35]:
print(X_train.shape)
print(X_test.shape)

(204, 13)
(88, 13)

In [36]:
first_model = LinearRegression()

In [37]:
%%time
first_model.fit(X_train, y_train)

Wall time: 1.65 s

LinearRegression()

In [39]:
pred = first_model.predict(X_test)
print (pred)

[23.61355818 27.78891526 13.49273811 17.36683228 23.24928838 15.30411098
 22.48767992 31.66291726 26.98480472 12.1327505  22.77899971 33.32077802
 30.03645826 32.99457734 19.95215428 21.64183501 27.21176045 29.92891851
 34.33441283 13.49009698 22.62512226 27.26186792 29.69321066 46.12034981
 13.94463008 25.64909725 17.42087242 28.13268539 15.75207445 20.9858576
 27.23809195 19.51478762 34.38404715 22.33250369 38.74461617 11.09082319
  4.89903937 22.89351602 14.03534602 23.66436926 13.62577577 32.75378403
 24.12133322  9.83237779 18.87988642 31.47360397 33.47149557 40.70325062
 17.09709625 21.48588327 51.92437914 24.65413654 30.43215146 21.98749178
 40.03442872 21.67795464 21.44367882 12.22704476 41.13128511 22.22887227
 16.0205898  21.98420424 32.95991036 20.7669184  24.89174548  9.30098562
 22.30091382 16.85938159 33.22838246 36.57899131 18.68850858 34.40643898
 48.8721416  14.300749   31.88551954 17.90057114 22.92102031 27.88351029
 18.65511527 30.09674046 21.19672094 25.19226772 26.80572652 28.81043767
 40.10049935 44.55249913 27.14374341 24.68385825]

In [40]:
pred1 = first_model.predict(X_train)
print (pred1)

[26.79912136 42.39823804 39.4729123  45.45760765 19.6503324   9.03668249
 20.54711678 19.79455998 20.32252631 41.94845408 10.00793543 18.1700122
 23.62682342 17.86736674 15.5492466  26.39860531 16.8261713  22.99902382
 25.63568429 26.22283564 22.62403968 16.42401165 15.07618592 19.42638989
 31.63353616 34.54307687 31.52353839 35.62288439 37.01452432 22.68775678
 28.47395108 20.08159387 21.03222895 16.57942682 25.04394264 48.25097102
 30.08036242 34.47077746 17.91940291 19.80993496 43.15955393 24.17497764
 20.37406494 26.98044131 20.9068202  26.02664321 33.96300597 25.40281237
 23.84355933 32.34210822 17.09476797 13.97688726 16.09245352 48.15309421
 20.41554513 18.20544656 43.1166703  21.2670046  27.01438668 24.48251119
 21.55018811 20.07964512 16.67249703 21.18916168 34.67084251 19.37166419
 33.83987946 29.08054418 19.39585035 24.89405814 26.43230393 25.50069411
 46.43155409 13.57271724 44.89156687 42.98308532 31.87757604 44.1437307
 19.50296002 25.16770219 26.55683353 22.22126824 33.83739165 22.66829146
 20.11546875 34.26492477 25.81705067 18.14453561 17.66482521 37.11130857
 26.54896744 14.33464854 15.41911814 33.02574975 29.38149712 22.6613705
 27.74178217 25.60051085 38.08332502 36.73423547 16.15568972 20.22478364
 25.52333602 22.53839295 19.93086478 29.81949479 23.07729299 29.95672474
 19.82278039 19.17213703 21.80609422 23.34470085 35.92862962 35.26003306
 28.32873437 20.24527479 30.56968222 21.23473118 12.82050355 31.72374035
 24.57193437 24.56810059 21.22424428 46.91946727 19.84712123 25.99509773
 22.90201242 14.77293512 21.23095348 22.52038819 22.14722439 43.98185561
 29.52632046 15.57009025 23.68589845 28.0876562  28.61401192 27.59999274
 13.56186524 22.71959685 18.88091253 12.34787475 17.86994277 17.77612091
 26.37490667 35.1330959  20.13355843 34.78881081 28.99792458 28.96400403
 35.44155031 31.81028439 28.55463362 16.03518167 24.06431697 28.48977312
 41.80044924 20.66466711 26.06660156 16.26261614 29.60113784 32.44462437
 37.23680859 20.76248149 41.85679957 14.44840064 15.48457197 12.46525824
 49.4945024  23.30834379 31.48123284 28.01988428 12.76456725 22.34777705
 21.62674405 23.33939304 22.46145166 21.8727253  17.69551766 36.43118526
 21.17878607 21.76758043 42.01840865 21.1294284  27.0452563  16.53674079
 39.63775612 20.96058545 25.81500025 35.37512377 31.61698013 18.67549766
 26.82687431 37.55662144 12.38928487 16.44717064 42.83624166 22.01689182
 13.91241677 33.24607928 21.59169018 23.95334368 20.09170466 19.51964421]

In [41]:
test_pred = X_test.copy()

In [42]:
test_pred['predict'] = pred
test_pred['real_medv'] = y_test

In [43]:
test_pred[['predict','real_medv']].head()

       predict  real_medv
56   23.613558       24.7
219  27.788915       23.0
214  13.492738       23.7
61   17.366832       16.0
165  23.249288       25.0

In [45]:
print('Ошибка RMSE c random seed 777 на тестовой выборке =',mean_squared_error(y_test, pred))
print('Ошибка RMSE c random seed 777 на обучающей выборке =',mean_squared_error(y_train, pred1))

Ошибка RMSE c random seed 777 на тестовой выборке = 11.518162544265023
Ошибка RMSE c random seed 777 на обучающей выборке = 9.825775443032839

In [46]:
pr = []


for i in range(1000):
    X_train, X_test, y_train, y_test = train_test_split(df.drop('medv',axis=1), 
                                                    df['medv'], 
                                                    test_size=0.3, 
                                                    random_state=i)
    my_super_first_model = LinearRegression()
    my_super_first_model.fit(X_train, y_train)
    pred = my_super_first_model.predict(X_test)
#     print('Ошибка c random seed=',i,' RMSE =',mean_squared_error(y_test, pred))
    pr.append(mean_squared_error(y_test, pred))

pd.Series(pr).mean()

11.197312615646547